# Gradle
.gradle/
build/
**/build/

# Local configuration
local.properties

# Android Studio
.idea/
*.iml

# Mac OS
.DS_Store

# Log files
*.log

# Crash reports
crashlytics-build.properties

# APKs
*.apk
*.ap_

# Keystore files
*.jks

# Misc
/captures/
/output.json
